.page-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 16px;
}

.calculator {
  border-right: 1px solid var(--color-secondary);
  flex: 3;
  padding-right: 1rem;
}

.result {
  flex: 1;
  position: sticky;
  top: 138px;

  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.result-mobile {
  display: none;

  position: fixed;
  left: 0;
  bottom: 0;
  background: var(--color-secondary);
  border-radius: 0.25rem;
  width: 100%;
}

.three-field-row {
  display: flex;
  gap: 1rem;

  >* {
    flex: 1;
  }
}

.input-group {
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  > div > p:first-child {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 700;
  }
}

.input-description {
  color: rgba(0, 0, 0, 0.75)
}

@media screen and (max-width: 600px) {
  .calculator {
    border-right: 0px;
    padding-right: 0;
    margin-bottom: 70px;
  }

  .result {
    display: none;
  }

  .result-mobile {
    display: block;
  }

  .three-field-row {
    gap: 8px;
    flex-wrap: wrap;

    > :last-child {
      flex-basis: 100%;
    }
  }
}