.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1.5em;
  font-weight: bold;
}

.menu-item {
  font-size: 1.2rem !important;
}

@media screen and (max-width: 600px) {
  .menu {
    gap: 0.75em;
  }

  .menu-item {
    font-size: 1.1rem !important;
    text-decoration: underline;
  }
}