.page-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 16px;
}

.calculator {
  border-right: 1px solid var(--color-secondary);
  flex: 3;
  padding-right: 1rem;
}

.result {
  flex: 1;
  position: sticky;
  top: 138px;

  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .result {
    display: none;
  }
}